extends ../partials/head
block content
  .all-wrapper
      .all-inner-wrapper
        .all-inner-wrapper-header
          img.usersmagic-logo(src=photos.usersmagicLogo)
          .header-blue-circle
        .reports-header
          img.usersmagic-small-blue-logo(src=photos.usersmagicSmallLogo)
          .each-report-title(style="font-size:72px") A101 Tüketici Araştırması
          .each-report-description Türkiye’de 18 ile 65 yaş arasındaki 1000 tüketici ile yapılmıştır
        .each-graph-header
          .each-graph-header-row-number 1
          .each-graph-header-title(style="width:100%; text-align: left") Hanenizde kaç kişi yaşıyor?
        .tri-bar-graph-wrapper
          .tri-bar-graph-content
            .tri-bar-graph-background
              .tri-bar-graph-scales-wrapper
                .scale-vertical-line
                .scales-big-bar-with-number
                  .scales-big-bar-number(style="margin-left:8px") 0
                  .scales-big-bar
                .scales-small-bar
                .each-thinner-horizontal-line
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-big-bar-with-number
                  .scales-big-bar-number 10
                  .scales-big-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-big-bar-with-number
                  .scales-big-bar-number 20
                  .scales-big-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-big-bar-with-number
                  .scales-big-bar-number 30
                  .scales-big-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-big-bar-with-number
                  .scales-big-bar-number 40
                  .scales-big-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-big-bar-with-number
                  .scales-big-bar-number 50
                  .scales-big-bar
            .tri-bar-graph-bar-content
              .tri-bar-graph-each-bar-group-content
                .tri-bar-graph-each-bar-group
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(66,133,244)") 2.1
                    .tri-bar-graph-each-bar(style="height: 335px; background-color:rgb(66,133,244)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(234,68,53)") 5.9
                    .tri-bar-graph-each-bar(style="height: 123px; background-color:rgb(234,68,53)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(251,189,4)") 17.4
                    .tri-bar-graph-each-bar(style="height: 30px; background-color:rgb(251,189,4)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(51,168,84)") 37
                    .tri-bar-graph-each-bar(style="height: 10px; background-color:rgb(51,168,84)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(255,109,5)") 23.5
                    .tri-bar-graph-each-bar(style="height: 4px; background-color:rgb(255,109,5)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(70,189,198)") 14.1
                    .tri-bar-graph-each-bar(style="height: 29px; background-color:rgb(70,189,198)")
                .tri-bar-label Hepsi
          .tri-bar-graph-legends
            .each-tri-bar-graph-legends
              .tri-bar-graph-legend-color-box(style="background-color:rgb(66,133,244)")
              .tri-bar-graph-legend-text 1
            .each-tri-bar-graph-legends
              .tri-bar-graph-legend-color-box(style="background-color:rgb(234,68,53)")
              .tri-bar-graph-legend-text 2
            .each-tri-bar-graph-legends
              .tri-bar-graph-legend-color-box(style="background-color:rgb(251,189,4)")
              .tri-bar-graph-legend-text 3
            .each-tri-bar-graph-legends
              .tri-bar-graph-legend-color-box(style="background-color:rgb(51,168,84)")
              .tri-bar-graph-legend-text 4
            .each-tri-bar-graph-legends
              .tri-bar-graph-legend-color-box(style="background-color:rgb(255,109,5)")
              .tri-bar-graph-legend-text 5
            .each-tri-bar-graph-legends
              .tri-bar-graph-legend-color-box(style="background-color:rgb(70,189,198)")
              .tri-bar-graph-legend-text 5+
        .each-graph-header
          .each-graph-header-row-number 2
          .each-graph-header-title(style="width:100%; text-align: left") Ne sıklıkla somun ekmek alıyorsunuz?
        .tri-bar-graph-wrapper
          .tri-bar-graph-content
            .tri-bar-graph-background
              .tri-bar-graph-scales-wrapper
                .scale-vertical-line
                .scales-big-bar-with-number
                  .scales-big-bar-number(style="margin-left:8px") 0
                  .scales-big-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-big-bar-with-number
                  .scales-big-bar-number 20
                  .scales-big-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-big-bar-with-number
                  .scales-big-bar-number 40
                  .scales-big-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-big-bar-with-number
                  .scales-big-bar-number 60
                  .scales-big-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-small-bar
                .scales-big-bar-with-number
                  .scales-big-bar-number 80
                  .scales-big-bar
              .tri-bar-graph-horizontal-lines-wrapper
                .initial-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
                .each-thinner-horizontal-line
            .tri-bar-graph-bar-content
              .tri-bar-graph-each-bar-group-content
                .tri-bar-graph-each-bar-group
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(66,133,244)") 58.8
                    .tri-bar-graph-each-bar(style="height: 335px; background-color:rgb(66,133,244)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(234,68,53)") 21.2
                    .tri-bar-graph-each-bar(style="height: 123px; background-color:rgb(234,68,53)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(251,189,4)") 5.7
                    .tri-bar-graph-each-bar(style="height: 30px; background-color:rgb(251,189,4)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(51,168,84)") 2
                    .tri-bar-graph-each-bar(style="height: 10px; background-color:rgb(51,168,84)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(255,109,5)") 0.8
                    .tri-bar-graph-each-bar(style="height: 4px; background-color:rgb(255,109,5)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(70,189,198)") 1.9
                    .tri-bar-graph-each-bar(style="height: 29px; background-color:rgb(70,189,198)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(123,171,247)") 9.6
                    .tri-bar-graph-each-bar(style="height: 60px; background-color:rgb(123,171,247)")
                .tri-bar-label Hepsi
              .tri-bar-graph-each-bar-group-content
                .tri-bar-graph-each-bar-group
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(66,133,244)") 60.4
                    .tri-bar-graph-each-bar(style="height: 349px; background-color:rgb(66,133,244)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(234,68,53)") 20.9
                    .tri-bar-graph-each-bar(style="height: 119px; background-color:rgb(234,68,53)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(251,189,4)") 5.3
                    .tri-bar-graph-each-bar(style="height: 29px; background-color:rgb(251,189,4)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(51,168,84)") 2
                    .tri-bar-graph-each-bar(style="height: 9px; background-color:rgb(51,168,84)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(255,109,5)") 0.7
                    .tri-bar-graph-each-bar(style="height: 4px; background-color:rgb(255,109,5)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(70,189,198)") 2
                    .tri-bar-graph-each-bar(style="height: 9px; background-color:rgb(70,189,198)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(123,171,247)") 8.7
                    .tri-bar-graph-each-bar(style="height: 50px; background-color:rgb(123,171,247)")
                .tri-bar-label 18-24
              .tri-bar-graph-each-bar-group-content
                .tri-bar-graph-each-bar-group
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(66,133,244)") 59.7
                    .tri-bar-graph-each-bar(style="height: 338px; background-color:rgb(66,133,244)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(234,68,53)") 19.7
                    .tri-bar-graph-each-bar(style="height: 110px; background-color:rgb(234,68,53)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(251,189,4)") 6.8
                    .tri-bar-graph-each-bar(style="height: 38px; background-color:rgb(251,189,4)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(51,168,84)") 1
                    .tri-bar-graph-each-bar(style="height: 7px; background-color:rgb(51,168,84)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(255,109,5)") 0.6
                    .tri-bar-graph-each-bar(style="height: 4px; background-color:rgb(255,109,5)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(70,189,198)") 1
                    .tri-bar-graph-each-bar(style="height: 7px; background-color:rgb(70,189,198)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(123,171,247)") 11.3
                    .tri-bar-graph-each-bar(style="height: 64px; background-color:rgb(123,171,247)")
                .tri-bar-label 25-34
              .tri-bar-graph-each-bar-group-content
                .tri-bar-graph-each-bar-group
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(66,133,244)") 50
                    .tri-bar-graph-each-bar(style="height: 285px; background-color:rgb(66,133,244)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(234,68,53)") 25.6
                    .tri-bar-graph-each-bar(style="height: 143px; background-color:rgb(234,68,53)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(251,189,4)") 6.1
                    .tri-bar-graph-each-bar(style="height: 30px; background-color:rgb(251,189,4)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(51,168,84)") 2.4
                    .tri-bar-graph-each-bar(style="height: 14px; background-color:rgb(51,168,84)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(255,109,5)") 1.2
                    .tri-bar-graph-each-bar(style="height: 7px; background-color:rgb(255,109,5)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(70,189,198)") 3.7
                    .tri-bar-graph-each-bar(style="height: 25px; background-color:rgb(70,189,198)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(123,171,247)") 11
                    .tri-bar-graph-each-bar(style="height: 64px; background-color:rgb(123,171,247)")
                .tri-bar-label 35-44
              .tri-bar-graph-each-bar-group-content
                .tri-bar-graph-each-bar-group
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(66,133,244)") 58.8
                    .tri-bar-graph-each-bar(style="height: 335px; background-color:rgb(66,133,244)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(234,68,53)") 29.4
                    .tri-bar-graph-each-bar(style="height: 185px; background-color:rgb(234,68,53)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(251,189,4)") 5.9
                    .tri-bar-graph-each-bar(style="height: 30px; background-color:rgb(251,189,4)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(51,168,84)") 0
                    .tri-bar-graph-each-bar(style="height: 0; background-color:rgb(51,168,84)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(255,109,5)") 0
                    .tri-bar-graph-each-bar(style="height: 0; background-color:rgb(255,109,5)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(70,189,198)") 0
                    .tri-bar-graph-each-bar(style="height: 0; background-color:rgb(70,189,198)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(123,171,247)") 5.9
                    .tri-bar-graph-each-bar(style="height: 30px; background-color:rgb(123,171,247)")
                .tri-bar-label 45-54
              .tri-bar-graph-each-bar-group-content
                .tri-bar-graph-each-bar-group
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(66,133,244)") 33.3
                    .tri-bar-graph-each-bar(style="height: 188px; background-color:rgb(66,133,244)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(234,68,53)") 33.3
                    .tri-bar-graph-each-bar(style="height: 188px; background-color:rgb(234,68,53)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(251,189,4)") 33.3
                    .tri-bar-graph-each-bar(style="height: 188px; background-color:rgb(251,189,4)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(51,168,84)") 0
                    .tri-bar-graph-each-bar(style="height: 0; background-color:rgb(51,168,84)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(255,109,5)") 0
                    .tri-bar-graph-each-bar(style="height: 0; background-color:rgb(255,109,5)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(70,189,198)") 0
                    .tri-bar-graph-each-bar(style="height: 0; background-color:rgb(70,189,198)")
                  .tri-bar-graph-each-bar-content
                    .tri-bar-graph-each-bar-value(style="color:rgb(123,171,247)") 0
                    .tri-bar-graph-each-bar(style="height: 0; background-color:rgb(123,171,247)")
                .tri-bar-label 55-65
          .tri-bar-graph-legends
            .each-tri-bar-graph-legends
              .tri-bar-graph-legend-color-box(style="background-color:rgb(66,133,244)")
              .tri-bar-graph-legend-text Her gün
            .each-tri-bar-graph-legends
              .tri-bar-graph-legend-color-box(style="background-color:rgb(234,68,53)")
              .tri-bar-graph-legend-text Haftada 2-3 kez
            .each-tri-bar-graph-legends
              .tri-bar-graph-legend-color-box(style="background-color:rgb(251,189,4)")
              .tri-bar-graph-legend-text Haftada 1 kez
            .each-tri-bar-graph-legends
              .tri-bar-graph-legend-color-box(style="background-color:rgb(51,168,84)")
              .tri-bar-graph-legend-text 2 haftada 1 kez
            .each-tri-bar-graph-legends
              .tri-bar-graph-legend-color-box(style="background-color:rgb(255,109,5)")
              .tri-bar-graph-legend-text 3 haftada 1 kez
            .each-tri-bar-graph-legends
              .tri-bar-graph-legend-color-box(style="background-color:rgb(70,189,198)")
              .tri-bar-graph-legend-text Ayda 1 kez
            .each-tri-bar-graph-legends
              .tri-bar-graph-legend-color-box(style="background-color:rgb(123,171,247)")
              .tri-bar-graph-legend-text Almıyorum
        .reports-ending-wrapper(style="margin-top:200px")
          .reports-ending-left-wrapper
            .get-started-text Get started with Usersmagic
            a.seablue-button(href='https://app.usersmagic.com/auth/register', target='_blank') Try now
          .reports-ending-right-wrapper
            img.usersmagic-small-blue-logo(src=photos.usersmagicSmallLogo)
            .ending-yellow-gradient