extends ./../partials/head
block content
  .all-wrapper-agreement
    span.title Gizlilik Sözleşmesi
    span.subtitle Gizlilik Sözleşmesi Usersmagic
    span En son güncelleme: 19 Aralık 2021
    span Bu Politika güncellenebilir, lütfen bu sayfayı düzenli olarak kontrol ettiğinizden emin olun.
    span Usersmagic Inc. ("Biz" veya "Biz") tarafından size sunulan bir web sitesi olan usersmagic.com'a hoş geldiniz.
    br 
    span Kişisel verilerinizin kontrolünü elinize almanızı sağlamak için, usersmagic.com ('Web Sitesi') aracılığıyla kişisel verilerin işlenmesi ve işlenmesi hakkında sizi bilgilendirmek amacıyla bu okunması kolay gizlilik politikasını ("Politika") oluşturduk. bu verilerin tarafımızca Bu Web Sitesi aracılığıyla kişisel verilerin toplanması ve işlenmesi, Avrupa veri koruma yasalarına ve Türkiye Veri Koruma Yasası'na (KVKK) uygun olarak yapılır.
    br 
    span.subtitle Biz Kimiz?
    span Usersmagic'in misyonu, site ziyaretçilerinden daha fazla veri akışı sağlayıp daha efektif pazarlama stratejileri geliştirilimesini sağlamaktır. Kullanıcıların izni ile veri toplanarak hedefli pazarlama stratejileri ile daha fazla satış yapılmasına yardımcı olur.
    br
    span Usersmagic Inc.
    span Adres: 
    span Telefon Numarası: 0090 507 66 44 989
    span E-mail: info@usersmagic.com
    br 
    span.subtitle Hangi bilgileri topluyoruz ve neden?
    span Usersmagic, ürünleri doğru test cihazı segmentleriyle eşleştirmek için kullanıcılardan ve ürünlerden çeşitli bilgiler toplar.
    span Usersmagic, kullanıcılarından aşağıdaki verileri toplar:
    span e-posta
    span Usersmagic, hizmetlerini kolaylaştırmak için bu verileri toplar.
    span Eğer bir müşteriyseniz, bir hesabınız olduğu sürece bizimle ve bu forumdaki diğer müşterilerle etkileşime geçebilirsiniz. Yetkili Usersmagic kullanıcısı olarak bilgilerinizi doğrulamak ve sizin için bir hesap oluşturmak ve sürdürmek için kişisel verilerinizi işlememiz gerekir. Her zaman hesabınızı silme seçeneğiniz vardır.
    br
    span.subtitle Kişisel Verilerin İşlenmesinin Hukuki Dayanağı
    span  Bu işleme faaliyetleri, bu durumda Web Sitemiz aracılığıyla sunduğumuz Web Sitesi Hizmetleri ve beraberindeki Kullanım Koşulları olan sözleşmenin yerine getirilmesi için gereklidir.
    br 
    span.subtitle Verileriniz ne kadar süreyle saklanacak?
    span Usersmagic, verilerinizi, sağlandığı amaç için gerekli olduğu sürece saklayacaktır. Kişisel verilerinizin sağlandığı amaçlar için hala gerekli olup olmadığını kontrol etmek için sistemlerimizi düzenli olarak gözden geçiriyoruz.
    br 
    span.subtitle Kişisel verileriniz güvende mi?
    span Web Sitemiz aracılığıyla bize gönderdiğiniz her şeyin güvenli ve emniyetli olmasını sağlıyoruz. Web Sitemiz, AB içinde bulunan bir sunucuda barındırılmaktadır. Usersmagic, kişisel verilerinizi kayıp, hırsızlık veya diğer yetkisiz erişim/kullanım biçimlerine karşı korumak için uygun teknik ve organizasyonel önlemleri alır. Kişisel verilere yalnızca işini yapmak için erişmesi gereken ve uygun şekilde eğitilmiş ve yetkilendirilmiş kişiler tarafından erişilebildiğinden emin oluruz.
    span Ayrıca, ortaklarımızın verilerinizi hırsızlık, kayıp veya verilerin toplanma amaçlarına uygun olmayan her türlü kullanımdan korumak için benzer organizasyonel ve teknik önlemler almalarını sağlıyoruz.
    br 
    span.subtitle Veri sahibi haklarınızı nasıl kullanabilirsiniz?
    span Bu gizlilik politikasıyla ilgili başka sorularınız varsa veya kişisel verilerinizin işlenmesine (silme, değiştirme ve erişim/taşınabilirlik gibi) itiraz etme hakkınızı kullanmak, önceden onayınızı geri çekmek veya başka bir endişeniz varsa, lütfen bir e-posta gönderin (info@usersmagic.com adresine mail atın).
    br 
    span Talebinizi mümkün olan en kısa sürede, ancak en geç dört hafta içinde yerine getireceğiz.
    br
    br
