extends ./../partials/head
block content
  .all-wrapper-agreement
    span.title Kullanıcı Sözleşmesi
    span 1 Aralık 2021 tarihinden itibaren geçerlidir.
    span.subtitle 1. Giriş
    span.subtitle 1.1 Sözleşme
    span ‘’Devam Et’’ ifadesine tıklayarak, erişimde bulunarak veya hizmetlerimizi kullanarak Usersmagic ile hukuki olarak bağlayıcı bir sözleşme akdetmiş olursunuz. Eğer bu sözleşmeyi kabul etmiyorsanız ‘’Devam Et’’seçeneğine tıklamayın ve hizmetlerimizden hiçbirine erişmeyin veya kullanmayın. Eğer bu sözleşmeyi sonlandırmak istiyorsanız, bunu dilediğiniz zaman hesabınızı kapatarak (info@usersmagic.com adresine hesabınızın kapatılması ve bilgileriniz silinmesi için mail atabilirsiniz) ve hizmetlerimize erişmeyi ve onları kullanmayı bırakarak yapabilirsiniz.
    span.subtitle Hizmetler
    span İşbu sözleşme Usersmagic’in site dışında yapılan veri toplama aktiviteleri de dahil olmak üzere Usersmagic in tüm faaliyetleri için geçerlidir. Usersmagic kullanıcılarına internet ortamında veya mobil telefonlarda üye işyerlerinin uygulamalarına veri sunarak pazarlama strajelerinin geliştirilmesini sağlar.
    span.subtitle Usersmagic Kullanıcı Sistemi
    span Her usersmagic.com kullanıcısının usersmagic.com sistemine bağlanabilmesi için kayıtlı e- posta adresini girmesi gereklidir. Bu işlem usersmagic.com sitesine giriş yapmak şeklinde tanımlanmıştır.
    span Usersmagic.com kullanıcılarını usersmagic.com sistemi dahilindeki yeni hizmet veya projelerden e-posta yolu ile haberdar edebilecektir.
    span Usersmagic.com kullanıcının sağladığı veriyi üye işyeri ile kullanıcının bilgisi dahilinde anonim şekilde paylaşacaktır.Bu sebepten dolayı üye işyeri ile kullanıcı arasında çıkabilecek her türlü problemden veya oluşabilecek zarardan kesinlikle sorumlu değildir.
    span Usersmagic.com sisteminin kullanılması ile oluşacak data ve verilerin tüm fikri haklarına sahiptir. Usersmagic.com, söz konusu bilgilerle kullanıcı üyelik bilgilerini açıklamadan demografik bilgiler içeren raporlar düzenleyebilir veya bu tarz bilgileri veya raporları kendisi kullanabilir ve bu rapor ve/veya istatistikleri iş ortakları ile üçüncü kişilerle bedelli veya bedelsiz paylaşabilir. Bu işlemler Usersmagic.com Gizlilik Politikası hükümlerine aykırılık etmez.
    span.subtitle 2. Yükümlülükler
    span Hizmetleri kullanmak için, şunları kabul etmektesiniz:
    span 1) Hizmetimizden faydalanmak için bir üye hesabı gereklidir.
    span 2) Kayıt esnasında, her üye e-posta adresini verir. E-posta adresi üyenin başarılı bir şekilde kayıt olduktan sonra gelecekte oturum açabileceği erişim verisidir. Her üye yalnızca bir üye hesabı tutabilir.
    span 3) Üye, üye hesabını istediği zaman devre dışı bırakabilir.
    span 4) Hizmetlerimizi kullanmak için daha önceden kısıtlanmış olmamalısınız,
    span 5) Hatalı bilgilerle hesap oluşturmak koşullarımızın ihlal edildiği anlamına gelir,
    span 6) Yasalara göre 16 yaşındaki kullanıcılarımız asgari yaşa sahiptir, ebeveynlerinden onaysız hizmetlerimizden yararlanamamaktadırlar.
    span 7) Kanunlara göre iletilmesi yasak olan bilgileri iletmemeyi ve zincir posta, yazılım virüsü vb. gibi gönderilme yetkisi olmayan veriler kullanıcı tarafından paylaşılmamaktadır.
    span 8) Usersmagic.com hizmetleri kullanılarak elde edilen herhangi bir kayıt veya elde edilmiş malzemelerin tamamen kullanıcının rızası dahilindedir.
    span.subtitle 3. Usersmagic.com’a Tanınan Yetkiler
    span Usersmagic.com herhangi bir zamanda sistemin çalışmasını geçici bir süre askıya alabilir veya tamamen durdurabilir. Sistemin kullanımının geçici bir süre askıya alınması veya tamamen durdurulmasından dolayı usersmagic.com’un kullanıcılarına veya üçüncü kişilere karşı hiçbir sorumluluğu olmayacaktır. E-posta usersmagic.com tarafından sunulan başvuru alanlarının doldurulmasından sonra görüntülenecek ve onaylanacaktır. Usersmagic.com kullanıcı kayıt formunu eksiksiz doldurmuş üyelerin veya Usersmagic.com sistemine giriş yapan kullanıcıların sistemi kullanmalarını münhasıran süresiz olarak engelleyebilecektir. Usersmagic.com, hizmetlerinin zamanında, güvenli ve hatasız olarak sunulması, hizmet kullanımından elde edilen sonuçların doğru ve güvenilir olması, hizmet kalitesinin beklentilere cevap vermesi için gerekli özeni gösterecektir ancak bunları taahhüt etmemektedir. Usersmagic.com kullanıcıların sistemden yararlanmaları sırasında ortamda bulunduracakları dosyaların, mesajların bazılarını veya tamamını uygun göreceği periyotlarla yedekleme ve silme yetkisine sahiptir. Yedekleme ve silme işlemlerinden dolayı Usersmagic.com sorumlu tutulmayacaktır. Usersmagic.com kendi ürettiği ve/veya dışardan satın aldığı bilgi, belge, yazılım, tasarım, grafik vb. eserlerin mülkiyet ve mülkiyetten doğan telif haklarına sahiptir. Usersmagic.com, ileride doğacak teknik zaruretler ve mevzuata uyum amacıyla kullanıcıların aleyhine olmamak kaydıyla işbu Sözleşme’nin uygulamasında değişiklikler yapabilir, mevcut maddelerini değiştirebilir veya yeni maddeler ilave edebilir.Usersmagic.com üye şirketlerin sağladığı içerikten sorumlu değildir.
    span.subtitle 4. Yürürlülük
    span İşbu Sözleşme taraflar arasında kullanıcının, kullanıcı kayıt formunu doldurmasından itibaren süresiz olarak yürürlülüğe girer.
    span.subtitle 5. Kişisel Veri
    span Kişisel verilerin korunması, Usersmagic.com şirket öncelikleri ve temel ilkeleri arasında yer almaktadır. Kişisel Veri Koruma politikasını inceleyiniz.
    span.subtitle 6. Fesih
    span Taraflar işbu Sözleşme’yi diledikleri zaman sona erdirebileceklerdir. Sözleşmenin feshi anında tarafların birbirlerinden olan alacak hakları etkilenmez.
