extends ../partials/header
block main
    .start-content-wrapper
        span.start-title Usersmagic Blog & Resources
    .contents-titles
        span.each-content-title Customers & Cases
        span.each-content-title Company & Product Updates
        span.each-content-title User Guides
    .case-studies-header#case-studies-header
        span.case-studies-header-title Customers & Cases
        span.case-studies-view-all-span#view-all-button View all
    hr
    .case-studies-content#case-studies-content
        each caseStudy in caseStudyArray
            if browser_lang == caseStudy.language
                .each-case-study-wrapper
                    img.case-study-image(src=`${caseStudy.company_logo}`)
                    .case-study-company-industry #{caseStudy.company_industry}
                    .case-study-company-name #{caseStudy.company_name}
    .case-studies-header#case-studies-header
        span.case-studies-header-title Reports & Researches
        span.case-studies-view-all-span#view-all-button View all
    hr
    .case-studies-content#case-studies-content
      a(href="/reports/electronics_report").each-case-study-wrapper
        img.case-study-image(src=`${photos.smallLogo}` style="width:10%")
        .case-study-company-name Electronics Report